<h1>Sign up</h1>
<%= form_tag users_path do %>
  <%= render 'shared/error_messages', locals: { object: @user } %>

  <%= label_tag :name %>
  <%= text_field_tag :name %>

  <%= label_tag :email %>
  <%= email_field_tag :email %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%= label_tag :password_confirmation, "Confirmation" %>
  <%= password_field_tag :password_confirmation %>

  <%= submit_tag %>
<% end %>

